* {
    padding: 0;
    margin: 0;
    /* outline: 2px solid green !important; */
}

html {height: 100%;}
button {cursor: pointer;}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:hover {color: #fff;}

form {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    overflow: hidden;
}

form h1 {
    margin-bottom: 10px;
    margin-left: 0px;
    font-weight: 300;
    text-align: center;
    color: #000;
}

form p {
    height: 25px;
    max-height: 25px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 18px;
    flex-wrap: nowrap;
}

form p label {
    flex: 1;
    text-align: start;
    margin: 0 !important;
    color: #fff;
    white-space: nowrap;
}

form p input, form p textarea {
    flex: 2;
    border: none;
    border-radius: 3px;
    border: none;
    text-align: center;
}

form p select {
    min-width: 220px; 
    width: 321px;
    max-width: 321px;
    height: 25px;
    border-radius: 3px;
    color: #000;
}

form hr {margin: 10px 0px;}

form button {
    padding: 5px 10px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    background: white;
    font-weight: 400;
    font-size: 15px;
    border: none;
}

form button:hover {
    box-shadow: 1px 1px 10px white;
}

form button:active {
    box-shadow: none;
}

form .link-form {
    text-align: start;
}

form a:hover, .change-password a:hover {text-shadow: 1px 1px 5px white;}

.form-error {
    color: rgb(255, 0, 0);
    white-space: nowrap;
    font-size: 18px;
}

.form-button {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}


body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-weight: 300;
    background: url('../images/background.jpeg') no-repeat;  
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

/* ----------------------Стили для шапки сайта--------------------- */
.header {
    width: 100%;
    min-height: 50px;
    height: auto;
    flex: 0 0 auto;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 5;
    color: aliceblue;
}

.fixed {
    position: sticky;
    top: 0;
    left: 0;
    transition: top .5s;
}

.header-container {
    margin: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.auth a:hover, .about-contacts a:hover {
    color:rgb(160, 160, 160)
}

.icon {
    width: 20px;
    height: 20px;
    margin: 0;
}

.shop-icon {margin: 0 10px;}

.shop-icon a {
    margin-left: 10px;
    font-size: 16px;
}

.shop-icon img {
    position: relative;
    top: -2px;
}

.icon:hover {
    position: relative;
    top:2px
}

.search input {
    font-size: 14px;
    border: none;
    border-radius: 5px;
    width: 170px;
    height: 25px;
}

.search form {
    position: relative;
}

.search form i {
    position: absolute;
    right: 13px;
    bottom: 13px;
    z-index: 10;
    color: #000;
}

.moderno {
    text-shadow: 5px 4px 4px black;
    transition: all 1s ease;
}

.moderno:hover{
    transform: scale(1.1);
    text-shadow: 2px 2px 4px black;
}

/* ----------------------------Стили для блока маин ----------------------*/
.main {
    padding: 30px; 
    display: flex;
    flex: 1 0 auto;
}

/* ----------------------------Стили для футера-------------------------- */

footer {
    background-color: rgba(0, 0, 0, 0.4);
    flex: 0 0 auto;
    width: 100%;
    height: auto;
}

.footer {
    margin: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.footer > div {
    flex: 1;
}

.footer div > span {color:white}

.about-contacts {text-align: end;}

.about-contacts a {margin-left: 5px;}

.social ul {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .item a {
    width: 32px;
    height: 32px;
    background-color: #f0f9fe;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border: 2px solid #f0f9fe;
    overflow: hidden;
  }

  .item a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 0;
    scale: 1 0;
    transform-origin: bottom;
    transition: scale 0.3s linear;
  }
  
  .item:hover a::before {scale: 1 1;}
  
  .social-icon {
    font-size: 24px;
    color: hsl(203, 92%, 8%);
    transition: 0.5s ease;
    z-index: 2;
  }
  
  .item a:hover .social-icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  .item:nth-child(1) {
    --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
  }
  .item:nth-child(2) {
    --bg-color: #0077b5;
  }
  .item:nth-child(3) {
    --bg-color: #000000;
  }
  .item:nth-child(4) {
    --bg-color: #4ea7ec;
  }

/* -----------------Стили для системы авторизации, регистрации...------------------- */

.user-form-block {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.profile {
    min-width: 350px;
    width: 500px;
    height: auto;
    border-radius: 5px;
    text-align: center;

}

.profile form, .user-form form {border: 1px solid #000;}

.profile-image {
    text-align: center;
    width: 100%;
    height: auto;
}

.profile-image img {
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    margin-bottom: 20px;
    object-fit: cover;
}

#id_date_birth_year, #id_date_birth_month, #id_date_birth_day {
    min-width: 60px;
    width: 107px;
    max-width: 107px;
    min-height: 25px;
    height: 25px;
    max-height: 25px;
    flex-wrap: wrap;
    text-align-last: center;
}

input[type="file"] {display: none;}

.profile form p:first-of-type label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.fa-user-circle {
    min-width: 180px;
    width: 321px;
    height: 26px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    transition: all .5s;
    text-align: center;
}

.fa-user-circle:hover {
    background-color: rgba(0, 0, 0, .5);
    color: #7a0b0b;
}

.fa-user-circle:hover .image-text {
    color: #fff;
}

.image-text {
    font-size: 16px;
    color: #a8a8a8;
    margin-left: 10px;
    position: relative;
    top: -3px;
    font-weight: 200;
}

#id_gender {
    flex: 2;
    text-align-last: center;
    width: 321px;
    max-width: 321px;
    min-height: 25px;
    height: 25px;
    max-height: 25px;
}

.profile form button {
    width: 120px;
    font-size: 16px;
    transition: all .5s;
}

.user-form {
    min-width: 350px;
    width: 500px;
    height: auto;
    border-radius: 5px;
    text-align: center;
}

.change-password {
    width: auto;
    background-color: rgba(0, 0, 0, .6);
    border: 1px solid black;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
}

.change-password a {
    color: #740202;
    font-weight: 400;
}

.errorlist {
    /* font-display: flex; */
    width: 100%;
    text-wrap: wrap;
    margin-bottom: 10px;
    color: #cf0000;
}


/* -----------------Стили для категорий---------------------------- */

.menu {
    min-height: 40px;
    height: auto;
    display: flex; 
    flex-direction: column;
}

.menu-ul ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;

}

.menu-block {padding: 0 30px;}

.menu-ul ul a {
    min-width: 125px;
    width: auto;
    height: 30px;
    padding: 5px;
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 65px 100px rgba(126, 126, 126, .5) inset;
    border-radius: 50px;
    transition: all 1s ease;
}

.menu-ul ul a:hover {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
}

.menu-all {
    font-size: 20px;
    font-weight: 500;
    color: aliceblue;
}

.active-category {
    box-shadow: none !important;
    cursor: default;
}

.menu-button {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    top: 20px;
  }

  .menu-open {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(3,0,50,1) 6%,
        rgba(45,44,68,1) 32%, rgba(85,85,85,1) 56%,
        rgba(134,134,134,1) 77%, rgba(187,187,187,1) 91%,
        rgba(255,255,255,1) 100%);
    border-radius: 5px;
    cursor: pointer;
  }
  
  .menu-open div {
    width: 30px;
    height: 30px;
    position: relative;
  }

  .menu-open span {
    background: #fff;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }

  .menu-open .line-1 {
    width: 50%;
    transform: translate(-100%, -10px);
  }

  .menu-open .line-3 {
    width: 50%;
    transform: translate(0%, 10px);
  }
  
  .menu-close .line-1 {
    transform: translate(0, 0) rotate(-45deg);
    transform-origin: 0 0;
  }

  .menu-close .line-3 {
    transform: translate(-100%, 0px) rotate(-45deg);
    transform-origin: 100% 0;
  }

  .menu-close .line-2 {transform: translate(-50%, -50%) rotate(45deg);}

/* -------------------Стили для главной страницы------------------------ */
.products-all {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 270px;
    height: 350px;
    background: #000;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
}

.poster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.product-discount span {
    z-index: 5;
    color: #000000;
    text-shadow: 1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
    position: absolute;
    font-size: 22px;
    font-weight: 500;
    top: 10px;
    left: 10px;
    transition: .4s linear;
}
/* .poster::before {
    content: '';
    position: absolute;
    bottom: -45%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .3s;
} */
/* .card:hover .poster::before {bottom: 0;} */

.poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s linear;
}
.card:hover .poster img {transform: scale(1.1);}
.card:hover .product-discount span {transform: scale(1.1);}
.card:hover .like-button i {transform: scale(1.1);}

.card .like-block  {
    z-index: 3;
    position: absolute;
    right: 10px;
    top: 10px;
}

.like-button i {
    font-size: 30px;
    color: #000;
    transition: all 0.3s linear;
}

.like-button i:hover {color: red;}

.details {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 10px; 
    background: #000a;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(2px) saturate(120%);
    backdrop-filter: blur(2px) saturate(120%); 
    transition: .5s ease;
    color: #fff;
    z-index: 2;
}

.card:hover .details {bottom: 0;}


.details h3 {
    font-weight: 600;
    font-size: 20px;
    margin: 0px;
    margin-bottom: 5px; 
    text-align: center;
    margin-bottom: 10px;
    transition: all 1s ease;
}

.details h3:hover {transform: scale(1.1); color: #a8a8a8;}

.details .rating {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2px;
}

.details .rating i {color: #e3c414;}
.details .rating span {margin-left: 5px;}

.product-price {
    margin-top: 10px;
    font-size: 20px;
    color: #79ff5b;
}

.product-price s{
    margin-left: 20px;
    font-size: 20px;
}

.details .tags {
    display: flex;
    margin: 12px 0px;
    font-size: 16px;
}

.details .tags span {
    padding: 7px 12px;
    color: #fff;
    border: 1.5px solid rgba(255 255 255 / 0.4);
    border-radius: 4px;
    border-radius: 50px;
    transition: all .4s ease;
}

.details .tags span:hover {box-shadow: 1px 1px 6px .5px silver;}
.details .tags span:active {box-shadow: none;}

.details .cast h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.details .cast ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.details .cast ul li {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 1.5px solid #fff;
}

.details .cast ul li img {
    width: 100%;
    height: 100%;
}

/* ----------------------Страница с  продуктом-------------------- */

.product-review-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.product-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.product-img-block, .product-info {
    min-width: 300px;
    width: 550px;
    height: 570px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 4px rgba(44, 44, 44, .5);
    gap: 30px;

}

.product-img-block img {
    width: 100%;
    height: 570px;
    object-fit: cover;
    border-radius: 5px;
}

.product-info {
    padding: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.product-info-price {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.product-info-price span s.muted{font-size: 20px;}

.product-info h2 {
    text-align: center;
    font-weight: 300;
}


.product-description {
    padding-top: 10px;
    height: 370px;
    overflow: auto;
    white-space: normal;
    text-align: start;
    font-size: 15px;
}

.product-description p {
    margin: 0;
    font-size: 18px;
}

.muted {
    font-size: 15px;
    color: silver;
}

.cart-form {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.cart-form form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cart-form form div {
    width: 50%;
    text-align: center;
    flex-wrap: wrap;
}

.cart-form form select, .cart-form form input {
    width: 100px;
    padding-left: 3px;
    height: 22px;
    border-radius: 5px;
    border: none;
}

.cart-form .button {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.cart-form .button button {margin: 0;}

.cart-form form .error_message {
    font-size: 16px;
    width: 100%;
}

/* ---------------------------ОТЗЫВЫ-------------------------- */
.review-block {
    width: 100%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.review-form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    color: #fff;
    gap: 10px;
    margin-bottom: 30px;
}

.review-block > p {
    margin: 5px 0px;
    font-weight: 400;
}

.review-form form {
    width: 550px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: white;
}

.review-form  form .button {
    text-align: center;
    margin: 20px 0 0 0;
}

.review-form  form button {width: 100px; }
.review-form  form select {
    border-radius: 3px;
    color: #000;
}
.form-area {
    height: 150px;
    margin-bottom: 10px;
    resize: none;
    padding-left: 5px;
    font-size: 16px;
}

.review {overflow: auto;}

.reviews-all {
    width: 100%;
}

.review {
    margin-bottom: 10px;
    white-space: normal;
    color: white;
    background-color: rgba(0, 0, 0, .4);
   backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 5px;
}

.review-info {margin: 0px 5px;}

.review > p {margin: 5px;}


/*----------------------------Пагинации страницы--------------------------- */

.list-pages {
	text-align: center;
	margin: 0 0 20px 0;
}

.list-pages ul {
	padding: 0; 
	list-style: none;
}

.list-pages ul li {display: inline-block;}

.list-pages a {
	color: #000;
	font-size: 24px;
	text-decoration: none;
}

.list-pages .page-num, .page-num-selected {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(3px);
    color: white;
	display: inline-block;
	width: 30px;
	height: 30px;
    font-weight: 500;
	border-radius: 50px;
}

.list-pages .page-num:hover {box-shadow: 2px 2px 4px black;}

.list-pages .page-num-selected {
	border: none;
	color: #000;
	font-size: 20px;
}

.list-pages .page-num-selected:hover {box-shadow: none;}


/* --------------------------------Стили для корзины----------------------------- */
.cart-block {
    width: 100%;
}

.cart {
    display: flex;
    flex-direction: column;
}

.cart-block hr {margin: 10px 0;}

.cart-product {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
    align-items: center;
    color: white;
    font-size: 18px;
    height: 100px;
    border: 1px solid silver;
    margin-bottom: 10px;
}

.cart-cell {
    flex: 1;
    text-align: center;
}

.cart-cell img {
    width: 100px;
    height: 100px;
    border: 0.5px solid silver;
}

.button-delete {
    width: 70px; 
    height: 25px;
    font-size: 14px;
    transition: all .4s ease;
    background-color: #fff;
    border-radius: 5px;
    border: none;
}

.button-delete:hover {
    background-color: #350000;
    color: #fff;
}

.add-remove {
    width: 30px;
    height: 20px;
    font-size: 16px;
}

.cart-cell .price {
    font-weight: bolder;
    margin: 0;
}

.final-result {
    width: 100%;
    font-size: 20px;
}

.final-result p {
    margin-bottom: 10px;
}

.final-result button {
    font-size: 16px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: white;
    transition: all .4s ease;
}

.final-result button:hover {box-shadow: 2px 2px 5px 1px silver;}

.total-info {font-weight: 400;}


/* --------------------------Страница КОНТАКТЫ----------------------------- */

.contacts {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.contacts-info, .contacts-map {
   width: 550px;
   height: 400px;
   color: #fff;
}

.contacts-info {padding: 10px;}

.contacts-info ul {
    font-size: 22px;
    margin-bottom: 20px;
}

.contacts-info ul li {
    font-size: 16px;
    margin-left: 30px;
}

.contacts-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.contacts-logo img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.contacts-logo span {
    position: relative;
    top: 10px;
    font-size: 30px;
    align-self: flex-end;
}

.contacts-map img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.feedback-block {
    position: absolute;
    bottom: 60px;
    right: 0;
}

.feedback {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all 0.4;
    text-align: end;
}

.feedback img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.feedback-form form {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 320px;
}

.feedback-form form .errorlist {
    color: #ff0000;

}

.feedback-form form p {height: auto;}

.feedback-form .form-button {
    width: 100%;
    position: absolute;
    bottom: 15px;
}

.feedback-form .form-button button {margin: 10px 0 0 0;}
.feedback-form .form-button button:hover {box-shadow: none !important;}

.feedback-form form p textarea {
    resize: none;
    height: 100px;
    box-sizing: border-box;
}

.message {
    position: absolute;
    z-index: 10;
    background-color: #1faa00;
    color: #000;
    font-weight: 20px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 20px 30px;
}



