{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="product-review-block">
    <div class="product-block">
        <div class="product-img-block">
            {% if images %}
            <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for image in images %}
                    {% if forloop.first %}
                    <div class="carousel-item active">
                        <img src="{{ image.product.image.url }}" title="{{ image.product.name }}">
                    </div>
                    {% else %}
                    <div class="carousel-item">
                        <img src="{{ image.images.url }}" title="{{ image.product.name }}">
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            {% else %}
            <img src="{{ product.image.url }}" title="{{ product.name }}">
            {% endif %}
        </div>


        <div class="product-info">
            <h2><b>{{product.name}}</b></h2>
            <p>Цена: <b class="text-danger">{{product.price}} руб.</b></p>
            <div class="product-description">
                <p><b>Описание:</b></p>
                {% autoescape off %}
                {{ product.description }}
                {% endautoescape %}
            </div>


            <div class="cart_form">
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    <div class="form-error">{{ cart_product_form.non_field_errors }}</div>
                    {% for f in cart_product_form %}
                    <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}
                    <div class="form-error">{{ f.errors }}</div>
                    {% endfor %}
                    <div class="button">
                        <button type="submit">Добавить в корзину</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="review-block">
        {% if user.is_authenticated %}
        <div class="review-form">
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Отправить</button>
            </form>
        </div>
        {% else %}
        <div class="review-form">
            <form>
                <p>Для отправки отзыва вам необходимо
                    <a href="{% url 'users:login' %}" class="fw-bold">авторизоваться</a>.
            </form>
        </div>
        {% endif %}
        <p>Отзывы: ({{ product.review.all.count }})</p>
        <div class="review-all">

            {% for review in product.review.all %}
            <div class="review">
                <div class="review-info">
                    <img class="icon" src="{{ review.user.image.url }}" title="{{ review.user }}">
                    <span class="muted">
                        {{review.user.username}}, {{review.create_date}}
                        Оценка: {{review.rating}}
                    </span><br>
                </div>
                {% autoescape off %}
                <p>{{review.review}}</p>
                {% endautoescape %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}