{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="product-review-block">
    <div class="product-block">
        <div class="product-img-block">
            {% if images %}
            <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for image in images %}
                    {% if forloop.first %}
                    <div class="carousel-item active">
                        <img src="{{ image.product.image.url }}" title="{{ image.product.name }}">
                    </div>
                    {% endif %}
                    <div class="carousel-item">
                        <img src="{{ image.images.url }}" title="{{ image.product.name }}">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            {% else %}
            <img src="{{ product.image.url }}" title="{{ product.name }}">
            {% endif %}
        </div>


        <div class="product-info">
            <h2><b>{{product.name}}</b></h2>
            <div class="product-info-price">
                <span>Цена: <s class="muted">{{product.price}}</s></span>
                <span>Цена со скидкой: <b class="text-success">{{product.discount_price}}</b></span>
                <span>Скидка: <b class="text-danger">{{product.discount}}%</b></span>
            </div>

            <div class="product-description">
                <p><b>Описание:</b></p>
                {% autoescape off %}
                {{ product.description }}
                {% endautoescape %}
            </div>


            <div class="cart-form">
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {{ cart_product_form }}
                    <div class="button">
                        <button type="submit">Добавить в корзину</button>
                    </div>
                    {% if error_message %}
                    <div class="error_message text-danger">{{ error_message }}</div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

    <div class="review-block" id="review-block">
        {% if user.is_authenticated %}
        <div class="review-form">
            <form action="" method="post" id="demo-form">
                {% csrf_token %}
                {{ form }}
                <div class="button">
                    <button class="g-recaptcha"
                            data-sitekey="{{ RECAPTCHA_KEY }}"
                            data-callback='onSubmit'
                            data-theme='dark'
                            data-action='submit'>Отправить
                    </button>
                </div>
            </form>
        </div>
        {% else %}
        <div class="review-form">
            <form>
                <p>Для отправки отзыва вам необходимо
                    <a href="{% url 'users:login' %}" class="fw-bold">авторизоваться</a>
                </p>
            </form>
        </div>
        {% endif %}
        <p class="reviews-count">Отзывы: ({{ product.reviews.all.count }})</p>
        <div class="reviews-all">

            {% for review in reviews %}
            <div class="review">
                <div class="review-info">
                    <img class="icon" src="{{ review.user.image.url }}" title="{{ review.user }}">
                    <span class="muted">
                        {{ review.user.username }}, {{ review.create_date }}
                        Оценка: {{ review.rating }}
                    </span><br>
                </div>
                {% autoescape off %}
                <p>{{ review.review }}</p>
                {% endautoescape %}
            </div>
            {% endfor %}
        </div>
    </div>
    <button id="show-more-btn" class="show-more-btn">Показать еще</button>
</div>
{% endblock %}