{% extends 'base.html' %}

{% block content %}
<div class="form-block password-block">
    <div class="profile">
        <form method="post">
            <h1>Восстановление пароля</h1>
            {% csrf_token %}
            {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}

            <div class="button">
                <button type="submit">Сбросить по E-mail</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}