{% extends 'base.html' %}

{% block content %}
{% include 'moderno/includes/category.html' %}
<div class="form-block">
    <div class="auth-form">
        <form method="post" enctype="multipart/form-data">
            <h1>Регистрация:</h1>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
            <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <div class="button">
                <button type="submit">Отправить</button>
            </div>
            <hr>
        </form>
    </div>
</div>
{% endblock %}