{% extends 'base.html' %}

{% block content %}
<div class="user-form-block">
    <div class="user-form">
        <form method="post" enctype="multipart/form-data" id="demo-form">
            <h1>{{ title }}</h1>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            {{ form.as_p }}
            <div class="button">
                <button class="g-recaptcha"
                        data-sitekey="6Lff5dopAAAAAP3ZwAkgGuaB4I5BShPlLdDouwYI"
                        data-callback='onSubmit'
                        data-theme='dark'
                        data-action='submit'>Регистрация
                </button>
                <div class="text-danger" id="recaptchaError"></div>
            </div>
            <hr>
        </form>
    </div>
</div>
{% endblock %}