{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'moderno/images/logo.png' %}" id="icon-moderno" style="background: black;">
    <link rel="apple-touch-icon" href="{% static 'moderno/images/logo.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/hint.css/2.7.0/hint.min.css'>
    <link type="text/css" href="{% static 'moderno/css/styles.css' %}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>

<!--Начало шапки профиля-->
<header class="header fixed">
    <div class="header-container">
        <div class="logo">
            <a href="{% url 'moderno:home' %}">
                <h1 class="moderno">Moderno</h1>
            </a>
        </div>

        <div class="search">
            <label for="search">Поиск по сайту: </label>
            <input type="text" name="" id="search" placeholder=" Поиск...">
        </div>
        <div class="shop-icon">
            <a href="{% url 'like:like' %}">
                <img class="icon" src="{% static 'moderno/images/icon-heart.png' %}" alt="">
                {% if quantity_likes %}
                {{ quantity_likes }}
                {% endif %}
            </a>
            <a href="{% url 'cart:cart' %}">
                <img class="icon" src="{% static 'moderno/images/icon-shop.png' %}" alt="">
                {% if cart_items %}
                {{ cart_items }}
                {% endif %}
            </a>
        </div>
        {% if user.is_authenticated %}
        <div class="auth">
            <a href="{% url 'users:profile' %}">{{user.username}}</a> |
            <a href="{% url 'users:logout' %}">Выйти</a>
        </div>
        {% else %}
        <div class="auth">
            <a href="{% url 'users:login' %}">Войти</a> |
            <a href="{% url 'users:register' %}">Регистрация</a>
        </div>
        {% endif %}
    </div>
    <section class="menu">
        <div class="menu-block">
            <div class="menu-ul">
                <ul>
                    <a class="menu-all" href="{% url 'moderno:home' %}">
                        <li>Все категории</li>
                    </a>
                    {% for cat in category %}
                    <a href="{{ cat.get_absolute_url }}">
                        <li>{{ cat.name }}</li>
                    </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="menu-button">
            <div class="menu-open" id="menu-open">
                <div>
                    <span class="line-1"></span>
                    <span class="line-2"></span>
                    <span class="line-3"></span>
                </div>
            </div>
        </div>
    </section>
</header>
<!--Конец шапки профиля-->

<main class="main container-fluid">
    {{ message }}
    {% block content%}

    {% endblock %}
</main>


{% block navigation %}
{% endblock %}

<footer>
    <div class="footer">
        <div>
            <span>&copy; Все права защищены!</span>
        </div>
        <div class="social">
            <ul>
                <li class="item">
                    <a href="tg://resolve?domain=v_kalaytanov" aria-placeholder="Instagram">
                        <i class="fa-brands fa-instagram social-icon" title="Instagram"></i>
                    </a>
                </li>
                <li class="item">
                    <a href="https://vk.com/feed" aria-placeholder="VK">
                        <i class="fa-brands fa-vk social-icon" title="VK"></i>
                    </a>
                </li>
                <li class="item">
                    <a href="https://github.com/VKalaitanov" aria-placeholder="Github">
                        <i class="fa-brands fa-github social-icon" title="Github"></i>
                    </a>
                </li>
                <li class="item">
                    <a href="tg://resolve?domain=v_kalaytanov" aria-placeholder="Telegram">
                        <i class="fa-brands fa-telegram social-icon" title="Telegram"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="about-contacts">
            <a href="{% url 'moderno:contacts' %}">Контакты</a>
            <a href="{% url 'moderno:about' %}">О нас</a>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{% static 'moderno/js/index.js' %}"></script>
</body>
</html>