{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="products-all">
    {% for like in likes %}
    {% with like.product as product %}
    <div class="card">
        <div class="product-discount">
            <span>{{ product.discount }}%</span>
        </div>
        <div class="like-block">
            <a class="like-button" data-product-id="{{ product.id }}">
                {% if product in request.user.favorites.all %}
                    <i class="fas fa-heart" style="color: red;"></i>
                {% else %}
                    <i class="far fa-heart"></i>
                {% endif %}
            </a>
        </div>
        <div class="poster">
            <a href="{% url 'like:like_add' product.id %}">
                <img id="active-like" src="{% static 'moderno/images/icon-heart.png' %}" title="{{ product.name }}">
            </a>
            <img src="{{ product.image.url }}" title="{{ product.name }}">
        </div>

        <div class="details">
            <a href="{{ product.get_absolute_url }}" title="Перейти">
                <h3>{{ product.name }}</h3>
            </a>
            <div class="rating">
                {% if product.avg_rating %}
                {% for i in "*****" %}
                {% if forloop.counter <= product.avg_rating %}
                <i class="fas fa-star"></i>
                {% else %}
                <i class="far fa-star"></i>
                {% endif %}
                {% endfor %}
                <span>{{ product.avg_rating }}/5</span>
                {% else %}
                <span class="muted">Нет рейтинга </span>
                {% endif %}
            </div>

            <div class="product-price">
                <span>{{ product.discount_price }}</span>
                <s class="muted">{{ product.price }}</s>
            </div>

            <div class="tags">
                <span class="tag"><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></span>
            </div>

            <div class="cast">
                <h4>Наши странички:</h4>
                <ul>
                    <li>
                        <img src="" alt="Marco Andrews"
                             title="Marco Andrews">
                    </li>
                    <li>
                        <img src="https://i.postimg.cc/8P7X7r7r/cast-12.jpg" alt="Rebecca Floyd"
                             title="Rebecca Floyd">
                    </li>
                    <li>
                        <img src="https://i.postimg.cc/2SvHwRFk/cast-13.jpg" alt="Antonio Herrera"
                             title="Antonio Herrera">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endwith %}
    {% endfor %}
</div>
{% endblock %}